#home-section {
    padding-top: 20px;
    background-color: #01062C;
	background-image: var(--bg-large-triangle);
    color: var(--color-white);
}

#about-us-section { 
    background: var(--color-white);

    .section-title {
        background: linear-gradient(to right, #01062C, #6e75af);
        -webkit-background-clip: text;
        background-clip: text;
      }

}
#services-section { 
	background-color: #01062C;
	background-image: var(--bg-large-triangle);
	color: var(--color-white);
}

#faq-section { 
    background: var(--color-white); 

    .section-title {
        background: linear-gradient(to right, #01062C, #6e75af);
        -webkit-background-clip: text;
        background-clip: text;
      }
}

#contact-section{ 
	background-color: #01041E;
	background-image: var(--bg-large-triangle);
	background-attachment: fixed;
	background-size: cover;
	color: var(--color-white);
}

#team-section{ 
    background: var(--color-white); 
    .section-title {
        background: linear-gradient(to right, #01062C, #6e75af);
        -webkit-background-clip: text;
        background-clip: text;
      }
}

h3 {
	font-size: 2.4rem;
}

.line {
    width: 20%;
    height: 2px;
    border-radius: 8px;
    background-color: var(--color-secondary);
    margin: 0 1rem;
    opacity: 0.9;
    filter: drop-shadow(0 0 2px rgba(242, 182, 44, 0.7));
}

@media screen and (max-width: 768px) {
    #home-section {
        padding-top: 0;
    }
}

.text-white {
    color: var(--color-white);
}


